
<html >
<head>
  <meta charset="UTF-8">
  <title>Korex Logistics Company</title>
  
  <link href="/css/spin.css" rel="stylesheet">
  <link href="img/favi.jpg" rel="icon">
   
</head>

<body>

<div class="ring">KEC
   
  <span></span>
  
<script type="text/javascript">
    setTimeout(function() {
        window.location = "/index";
   }, 2000);
 </script> 

</div>
 


</body>
</html>


